.sendButton {
  width: 40px;
  height: 40px;
  background-color: #007afe;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("/public/assets/send.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.disabled {
  opacity: 0.5;
}
